/* TABLET VIEW */
@media only screen and (max-width: 992px) {

  .skills-container {
    width: 50%;
  }

  .nav-container {
    font-size: 18px;
    padding: 10px 0;
    gap: 8px;
    background-color: #f6c4b6;
    position: relative;
  }

  /* Hamburger icon */
  .hamburger {
    display: block; /* Ensure the hamburger icon is visible */
    font-size: 30px;
    color: #003366;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 101;
  }

  /* Mobile navigation links */
  #nav-links {
    display: none; /* Hide by default */
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    z-index: 100;
  }

  /* Show navigation links when active */
  #nav-links.active {
    display: flex;
  }

  /* Profile section */
  .profilepicture {
    flex-direction: column;
    padding: 20px;
  }

  .profilepicture img {
    max-width: 100%;
    height: auto;
  }

  .aboutme {
    padding: 20px;
    text-align: left;
    font-size: medium;
  }

  /* Gallery styles */
  .gallery-tittle {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
  }

  .image-item {
    width: 100%;
    height: auto;
    max-width: 432px;
    max-height: 468px;
    object-fit: cover;
    border-radius: 8px;
  }

  .gallery-container img {
    padding: 15px;
  }

  .faq-header {
    font-size: 20px;
  }
}


@media only screen and (max-width: 478px) {

  .nav-container {
    background-color: #f6c4b6;
    position: relative;
  }

  .hamburger {
    display: block;
    font-size: 30px;
    color: #003366;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 101;
  }

  #nav-links {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    z-index: 100;
  }

  #nav-links.active {
    display: flex;
  }

  .button-section,
  .button-container {
    padding: 16px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 11px;
  }

  .skills-tittle {
    font-size: 12pt;
  }

  .gallery-tittle {
    font-size: 1.1em;
    margin-bottom: 20px;
  }

  .gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
  }

  .image-item {
    width: 100%;
    height: auto;
    max-width: 432px;
    max-height: 468px;
    object-fit: cover;
    border-radius: 8px;
  }

  .faq-container {
    padding: 20px;
  }

  .faq-header {
    font-size: 18pt;
    margin-bottom: 20px;
  }

  .faq-question,
  .faq-answer {
    font-size: 12px;
    line-height: 18px;
  }

  .faq-item {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
